
*{
  margin: 0;
  padding: 0;
}

.outer-background{
  background: #000;
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-background{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
  ellipse at 50% 55%,
  #24437e 0%,
  #16294f 15%,
  #0d1830 28%,
  #08090d 42%,
  #000000 60%
);
}
